
<div class="container home-container">
  <div class="row">
    <div class="col-md-12 align-items-center align-self-center">
      <div class="d-flex justify-content-between">
        <h3 class="font-weight-bold white-title m-0 main-category"><i class="fas fa-chart-line mr-3"></i>Populares</h3>
        <p class="t-info my-auto font-weight-bold">Ver mais</p>
      </div>
    </div>
  </div>

<div class="series-grid">
  <% @series.each do |s|  %>
  <div class="text-center show-wrapper mt-3">
    <div class="box-wrapper">
      <div class="img-box mb-1">
        <%= link_to (image_tag ("http://image.tmdb.org/t/p/w300#{s.poster_path}"), class: "img-fluid poster"), seriados_path(tmdb_id: s.id) %>
        <ul>
          <li><%= truncate(s.overview, length: 120, omission: " ... %s") % link_to('Ler mais', seriados_path(tmdb_id: s.id)) %></li>
        </ul>
      </div>

      <br>
      <small class="t-info float-left"><%= s.original_name %></small> <br>
      <div class="d-block justify-content-between series-small-info" >
        <p style="display: inline; float: left;"><%= date_formatter(s.first_air_date, 'year') %></p>
        <p style="display: inline; float: right;">
          <i class="far fa-heart" onclick="changeIcon($(this))"></i>
          <i class="fas fa-check" onclick="markasSeen($(this))"></i>
          <i class="fas fa-star"></i>
          <span><%= s.vote_average %></span>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>

  <!-- Top rated -->
  <div class="row">
    <div class="col-md-12 align-items-center align-self-center">
      <div class="d-flex justify-content-between">
        <h3 class="font-weight-bold white-title m-0 main-category"><i class="fas fa-poll-h mr-3"></i>Maior nota</h3>
        <p class="t-info my-auto font-weight-bold">Ver mais</p>
      </div>
    </div>

  </div>

  <div class="series-grid">
    <% @top_rated.each do |s|  %>
    <div class="text-center show-wrapper mt-3">
      <div class="box-wrapper">
        <div class="img-box mb-1">
          <%= link_to (image_tag ("http://image.tmdb.org/t/p/w300#{s.poster_path}"), class: "img-fluid poster"), seriados_path(tmdb_id: s.id) %>
          <ul>
            <li><%= truncate(s.overview, length: 120, omission: " ... %s") % link_to('Ler mais', seriados_path(tmdb_id: s.id)) %></li>
          </ul>
        </div>

        <br>
        <small class="t-info float-left"><%= s.original_name %></small> <br>
        <div class="d-block justify-content-between series-small-info" >
          <p style="display: inline; float: left;"><%= date_formatter(s.first_air_date, 'year') %></p>
          <p style="display: inline; float: right;">
            <i class="far fa-heart" onclick="changeIcon($(this))"></i>
            <i class="fas fa-check" onclick="markasSeen($(this))"></i>
            <i class="fas fa-star"></i>
            <span><%= s.vote_average %></span>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>

<script>
function markasSeen(i) {
  $(i).toggleClass('clicked');
}

function changeIcon(i) {

  var icon = $(i);
  var icon_fa_icon = i.attr('data-icon');
  var icon_prefix = icon.attr('data-prefix');

  if (icon_fa_icon === "heart" && icon_prefix == 'fas') {
    icon.attr('data-prefix', 'far');
    icon.removeClass('clicked');
  } else {
    icon.addClass('clicked');
    icon.attr('data-prefix', 'fas');
  }
}
</script>
