
<div class="container home-container">
  <div class="row">
    <div class="col-md-12 align-items-center align-self-center">
      <div class="d-flex justify-content-between">
        <h3 class="font-weight-bold white-title m-0 main-category"><i class="fas fa-chart-line mr-3"></i>Populares</h3>
        <p class="t-info my-auto">Ver mais ></p>
      </div>
    </div>
    <% @series.each do |s| %>

      <div class="col-md-2 col-sm-4 text-center show-wrapper mt-3">
        <div class="box-wrapper">
          <div class="img-box mb-1">
            <%= link_to image_tag("http://image.tmdb.org/t/p/w300#{s.poster_path}", class: "img-fluid poster",
            data: { toggle: "tooltip", placement: "bottom", title: "#{s.original_name}"}), seriados_path(tmdb_id: s.id) %>
            <ul>
              <li><%= truncate(s.overview, length: 120, omission: " ... %s") % link_to('Ler mais', seriados_path(tmdb_id: s.id)) %></li>
            </ul>
          </div>

          <br>
          <small class="t-info float-left"><%= s.original_name %></small> <br>
          <div class="d-flex justify-content-between series-small-info">
            <p><%= date_formatter(s.first_air_date, 'year') %></p>
            <p><i class="far fa-heart"></i><i class="fas fa-check"></i><i class="fas fa-star"></i><span><%= s.vote_average %></span></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Top rated -->
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="main-category font-weight-bold white-title m-0">Mais bem avaliados</h3>
        <p class="t-info my-auto">Ver mais ></p>
      </div>
    </div>
    <% @top_rated.each do |s| %>

    <div class="col-md-2 col-sm-4 text-center show-wrapper mt-3">
      <div class="box-wrapper">
        <div class="img-box mb-1">

          <%= link_to (image_tag ("http://image.tmdb.org/t/p/w300#{s.poster_path}"), class: "img-fluid poster"), seriados_path(tmdb_id: s.id) %>
        </div>


        <br>
        <small class="t-info float-left"><%= s.original_name %></small> <br>
        <div class="d-flex justify-content-between series-small-info">
          <p><%= date_formatter(s.first_air_date, 'year') %></p>
          <p><i class="far fa-heart"></i><i class="fas fa-check"></i><i class="fas fa-star"></i><span><%= s.vote_average %></span></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
