<!DOCTYPE html>
<html>
  <head>
    <title>Seriesly?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8d9d868ad3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Seriesly?</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <%= form_tag(pesquisa_path, method: :get, class: "search_box my-2 my-lg-0 ml-auto") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Procurar série...", class: "form-control tst mr-sm-2" %>
            <%= button_tag '', search: nil, class:"submit-btn" do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>

          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <a class="nav-link notifications badge-notification" data-badge=""><i class="fas fa-bell"></i></a>
              </li>

              <li class="nav-item">
                <a class="nav-link sidebar-icon mr-0 pr-0 pl-3"><i class="fas fa-bars"></i></a>
              </li>
            <% end %>

            <% unless user_signed_in? %>
            <li class="nav-item mr-2">
              <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-outline-light px-3"  %>
            </li>

            <li class="nav-item">
              <%= link_to "Criar conta", new_user_registration_path, class: "nav-link btn btn-light px-3"  %>
            </li>
            <% end %>
          </ul>

          <% if user_signed_in? %>
          <div class="sidebar">
            <div class="d-flex">
              <%= gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'), :alt => '#{current_user.name}',
              :class => 'rounded-circle d-block avatar mx-auto') %>
              <a class="close"><i class="fas fa-times fa-sm"></i></a>
            </div>
            <p class="font-weight-bold mt-2 white-title text-center"><%= current_user.name %></p>
            <ul class="mb-0">
              <h6 class="text-muted">Principal</h6>
              <a href="#"><li><i class="fas fa-home mr-3"></i>Dashboard</li></a>
              <a href="#"><li><i class="fas fa-film mr-3"></i>Lançamentos</li></a>
              <a href="#"><li><i class="far fa-calendar-alt mr-3"></i>Calendário</li></a>
              <a href="#"><li><i class="fas fa-list mr-3"></i>Watchlist</li></a>
              <a href="#"><li><i class="fas fa-users"></i>Feed de amigos</li></a>
            </ul>
            <hr>
            <ul>
              <h6 class="text-muted">Conta</h6>
              <%= link_to edit_user_registration_path do %>
                <li><i class="fas fa-cog mr-3"></i>Preferências</li>
              <% end %>

              <%= link_to destroy_user_session_path, method: :delete do %>
                <li><i class="fas fa-sign-out-alt mr-3"></i>Sair</li>
              <% end %>
            </ul>

            <div class="social_media">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </nav>




    <%= yield %>
  </body>
</html>

<script>

</script>
