<!DOCTYPE html>
<html>
  <head>
    <title>Seriesly?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8d9d868ad3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-light js-scroll-trigger" href="/">Seriesly?</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <%= form_tag(pesquisa_path, method: :get, class: "search_box my-2 my-lg-0 mx-auto") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Procurar série...", class: "form-control tst mr-sm-2" %>
            <%= button_tag '', search: nil, class:"submit-btn" do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link notifications"><i class="fas fa-bell"></i></a>
            </li>

            <li class="nav-item">
              <a class="nav-link sidebar-icon mr-0 pr-0" id="ddm"><i class="fas fa-bars"></i></a>
            </li>

          </ul>
          <div class="sidebar">
        <%= image_tag "https://pt.gravatar.com/userimage/94467047/20f10982f0400e26aca317e577069413.jpeg", class:"rounded-circle d-block avatars mx-auto" %>
        <% if user_signed_in? %>
          <%= current_user.name %>
        <% end %>
        <p class="user-name mt-2 t-info text-center">Andréa Alencar</p>
        <ul>
          <h6 class="text-muted ml-4">Principal</h6>
            <li><a href="#"><i class="fas fa-home mr-3"></i>Dashboard</a></li>
            <li><a href="#"><i class="fas fa-film mr-3"></i>Lançamentos</a></li>
            <li><a href="#"><i class="far fa-calendar-alt mr-3"></i>Calendário</a></li>
            <li><a href="#"><i class="fas fa-users mr-2"></i>Feed de amigos</a></li>
        </ul>
        <ul>
          <h6 class="text-muted ml-4">Conta</h6>
          <li><a href="#"><i class="fas fa-cog mr-3"></i>Preferências</a></li>
          <li><a href="#"><i class="fas fa-sign-out-alt mr-3"></i>Sair</a></li>

        </ul>

        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
        </div>




      </div>
      </nav>



    <%= yield %>
  </body>
</html>

<script>
  $('#ddm').on('click', function() {
    $('.sidebar').toggleClass('active');
    console.log("GICELA");
  })
</script>
